# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# Supabase Cloud Configuration
SUPABASE_URL=https://ztwqnsnzyfkawxhpgjme.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhc2FzZSIsInJlZiI6Inp0d3Fuc256eWZrYXd4aHBnam1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1OTA5ODA0LCJleHAiOjIwMjEwNDE2Njk0MH0.6Jf6LSsTjlfk0cxYzD1TRLJlfFvW2hXIM4-gkMSUYTc
